{% extends "naturescall/index.html" %}

{% block home %}
<a class="navbar-brand" href="/naturescall">Naturescall</a>
{% endblock %}

{% block form %}
<form class="form-inline my-2 my-lg-0" method="POST" action= "/naturescall/search_restroom/">
	{% csrf_token %}
<input class="form-control mr-sm-2" type="search" placeholder="Search Location" name = "searched" required="required">
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<p>
	<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Select filters</a>
	</p>
	<div class="collapse" id="collapseExample">
		     <div class="card card-body">
			     <form class="form-inline my-2 my-lg-0" method="GET" enctype="multipart/form-data">
				     {% csrf_token %}
				     <fieldset class="form-group">
				<input class="form-control mr-sm-2" type="search" placeholder="Search Location" name = "filtered" required="required">
				      {{tableFilter.form.as_p}}
				       </fieldset>
				       <button href="{% url 'naturescall:filter_restroom'%}" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			     </form>
		     </div>
			    </div>

      {% if data %}
        {% for d in data%}
        <div class="card" style="width: 30rem;">
          <img class="card-img-top" src={{d.image_url}} alt="Card image cap" style= "width:100%; height:15vw; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title">{{d.name}}</h5>
            <p class="card-text">{{d.addr}}</p>
            <p class="card-text" style="color:DodgerBlue;">{{d.distance}} meters away</p>
            {% if d.db_id %}
              <!--<p class="card-text">our rating: {{d.our_rating}}</p>-->
              <a href="{% url 'naturescall:restroom_detail' d.db_id %}" class="btn btn-success">Show Details</a>
            {% else %}
              <a href="{% url 'naturescall:add_restroom' d.id %}" class="btn btn-info">Add Restroom</a>
            {% endif %}
          </div>
        </div>
        {% endfor %}
        {% else %}
            <h3>Location Not Found</h3>
        {% endif %}
    </div>
{% endblock %}

    <!--
    <br>
    <div class="container">
    {% if data %}
        <h2>You are searching for restrooms near {{ location }}</h2>
        <table width="900", border="1">
            <tr>
                <th><label for='yelp_id'><h3>YelpBusinessID</h3></label></th>
                <th><label for='restroom'><h3> Restroom</h3></label></th>
                <th><label for='address'><h3>Address</h3></label></th>
                <th><label for='distance'><h3> Distance(meters)</h3></label></th>
                <th><label for='rating'><h3>OurRating</h3></label></th>
            </tr>
            {% for d in data%}
                <tr>
                    <td align='right'> {{ d.id }} </td>
                    <td align='right'>
                        {% if d.db_id %}
                            <a href ="{% url 'naturescall:restroom_detail' d.db_id %}">{{ d.name }}</a>&emsp;
                        {% else %}
                            {{ d.name }}
                        {% endif %}
                    </td>
                    <td align='right'>{{ d.addr }} </td>
                    <td align='right'>{{ d.distance }} </td>
                    <td align='center'>
                        {% if not d.db_id %}
                            <a href= "{% url 'naturescall:add_restroom' d.id %}">Add Restroom</a>
                        {% else %}
                            {{ d.our_rating }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>Location Not Found</h3>
    {% endif %}
    </div>
    -->
