{% extends  "naturescall/index.html" %}
{% block content %}
    <form action="" method="POST">
        {%csrf_token%}
        {{ form.as_p}}
        <input type= "submit" value = "Submit">
    </form>
    <br>
    {%  if data %}
        <h2>You are searching for restrooms near {{location}}</h2>
        <table width="900", border="1">
            <tr>
                <th><label for= 'yelp_id'><h3>YelpBusinessID</h3></label></th>
                <th><label for= 'restroom'><h3> Restroom</h3></label></th>
                <th><label for= 'address'><h3>Address</h3></label></th>
                <th><label for= 'rating'><h3>OurRating</h3></label></th>
            </tr>
            {% for d in data%}
                <tr>
                    <td align='right'> {{d.id}} </td>
                    <td align='right'>
                        {% if d.db_id %}
                            <a href ="{% url 'naturescall:restroom' d.db_id %}">{{d.name}}</a>&emsp;
                        {%  else %}
                            {{ d.name }}
                        {% endif %}
                    </td>
{#                    <td align='right'>{{d.location.display_address}} </td>#}
                    <td align='right'>{{d.addr}} </td>
                    <td align='center'>
                        {% if not d.db_id %}
                            <a href= "{% url 'naturescall:addR' d.id %}">Add Restroom</a>
                        {% else %}
                            {{d.our_rating}}
                        {% endif %}
                    </td>
{#                    <td align='right'>#}
{#                        <div>#}
{#                            {% if not d.db_id %}#}
{#                                <a href= "{% url 'naturescall:addR' d.id %}">Add Restroom"</a>#}
{#                            {%endif%}#}
{#                        </div>#}
{#                    </td>#}
                </tr>
            {% endfor%}
        </table>
    {%  else %}
        <h3>Location Not Found</h3>
    {% endif %}
{% endblock %}
