
<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<title>Naturescal</title>
	</head>
	<body>
		<nav class = "navbar navbar-expand-lg navbar-dark bg-dark">
			{% block home %}
			<a class="navbar-brand" href="/naturescall">Naturescall</a>
			{% endblock %}
		</nav>
		<div class="container">
			<h1>Login</h1>
			{% block content %}
			<form method="POST">
				{% csrf_token %}
				{{ form.as_p }}
				<input class="btn btn-primary" type="submit" value="Login">
			</form>
			<br>
			<p>Don't have an account? <a href="{% url 'accounts:signup'%}">Create an account</a></p>
			<p>Forget Password? <a href="{% url 'password_reset'%}">Reset Password</a></p>
			{% endblock%}
		</div>
	</body>
</html>
